@use "index" as i;
* {
  // outline: 1px solid yellow;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticket {
  box-shadow: 5px 5px 13px i.$ticket-print-color;
  background: i.$ticket-background-color;
  border-radius: 3px;
  margin-inline: auto;
  margin-block: 100px;
  display: grid;
  grid-template-columns: 61.5% 25.5% 13%;
  width: 886px;
  height: 364px;
  padding-block-start: 25px;
  padding-block-end: 10px;
  padding-inline-start: 15px;

  .body {
    display: grid;
    grid-template-rows: 24.5% 9% 11.5% 25% 30%;

    .logo {
      border: i.$ticket-border;
    }

    .line {
      text-align: center;
      &__text--line1,
      &__text--line2 {
        display: block;
      }

      &__text--line1 {
      }

      &__text--line2 {
      }

      .text {
        &__vertical {
          writing-mode: sideways-lr;
        }
      }
    }

    &__line--one,
    &__line--two,
    &__line--three {
      border-block-end: i.$ticket-border;
    }

    &__line--one {
      padding-block: 3px;
    }

    &__line--two {
      padding-block: 5px;
    }
  }

  .stub {
    writing-mode: vertical-rl;
    display: grid;
    border-block-start: i.$ticket-border;

    .line {
      text-align: center;

      &__text--title,
      &__text--subtitle {
        display: block;
      }

      &__text--title {
      }

      &__text--subtitle {
      }
    }

    &__line--one {
      padding-block-start: 9px;
    }

    &__line--one,
    &__line--two,
    &__line--three {
      border-block-end: i.$ticket-border;
    }
  }
}

.reference {
  height: 364px;
  width: 886px;
}
