@use "index" as i;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticket {
  box-shadow: 5px 5px 13px i.$ticket-print-color;
  background: i.$ticket-background-color;
  border-radius: 3px;
  margin-inline: auto;
  margin-block: 100px;
  display: grid;
  grid-template-columns: 61% 26% 13%;
  inline-size: 886px;
  block-size: 364px;
  padding-block-start: 25px;
  padding-block-end: 10px;
  padding-inline-start: 15px;

  .body {
    display: grid;
    grid-template-rows: 24.5% 10% 12.5% 28% 25%;

    .logo {
      border: i.$ticket-border;
      opacity: i.$print-opacity;
    }

    &__line--two,
    &__line--three,
    &__line--four {
      border-block-start: i.$ticket-border;
    }

    &__line--one {
      padding-block: 3px;
    }

    &__line--two {
      padding-block: 5px;
    }
  }

  .stub {
    writing-mode: vertical-rl;
    display: grid;
    border-block-start: i.$ticket-border;
    grid-template-rows: 48% 20% 17% 12%;

    &__line--one,
    &__line--two,
    &__line--three {
      border-block-end: i.$ticket-border;
    }
  }
}

.line {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    display: block;
    &--ravenscroft {
      font-family: "Ravenscroft";
      font-size: 76px;
      line-height: 0.75;
      word-spacing: 7px;
      letter-spacing: 1px;
      padding-block-start: 9px;
      padding-block-end: 13px;
      display: block;
    }

    &--kenny {
      font-family: "They Killed Kenny!";
      line-height: 0.67;
      word-spacing: -4px;
      font-size: 58px;
    }

    &--im-fell-sc {
      font-family: "IM Fell SC";
      font-size: 23px;
      font-weight: bold;
      line-height: 1.2;
    }

    &--syne-bold {
      font-family: "Syne Bold";
      font-size: 23px;
      font-weight: bold;
      line-height: 1.7;
      letter-spacing: 3px;
    }

    &--traditionell-sans-bold {
      font-family: "Traditionell Sans Bold";
      font-size: 35px;
      line-height: 0.8;
      letter-spacing: 4px;
      word-spacing: 12px;
      font-weight: bold;
    }

    &--black-widow {
      font-family: "Black Widow";
      font-weight: bold;
      line-height: 1;
      letter-spacing: 1px;
      font-size: 21px;
    }

    &--boden {
      font-family: "Boden";
      font-size: 30px;
      letter-spacing: 1px;
      word-spacing: 5px;
      line-height: 1.3;
    }

    &--courier-prime-bold {
      font-family: "Courier Prime Bold";
      color: i.$print-bleed-color;
      text-shadow: i.$print-bleed;
      font-size: 27px;
      font-stretch: condensed;
      word-spacing: -11px;
      line-height: 1.55;
    }

    &--bold-box {
      color: i.$print-bleed-codisplay: block;
      font-family: "Bold Box";
      text-shadow: i.$print-bleed;
      line-height: 1.5;
      font-size: 18px;
      letter-spacing: 3px;
      word-spacing: 3px;
      padding-inline-start: 28px;
    }
  }

  &__rule {
    border: 1px solid i.$ticket-print-color;
    block-size: 1px;
    inline-size: 50px;
  }


.text {
  color: i.$ticket-print-color;
  &__vertical {
    writing-mode: sideways-lr;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 0.5;
    font-style: oblique;
  }
}


