@use "index" as i;
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticket {
  box-shadow: 5px 5px 13px i.$ticket-print-color;
  background: i.$ticket-background-color;
  margin-inline: auto;
  margin-block: 100px;
  display: grid;
  // grid-template-columns: repeat(12, 1fr);
  grid-template-columns: 71.5% 28.5%;
  width: 886px;
  height: 364px;
  padding-block-start: 2.35%;
  padding-block-end: 1%;
  padding-inline-start: 1.45%;
  padding-inline-end: 11%;

  .body {
    display: grid;
    width: 100%;
    justify-items: stretch;
    align-self: baseline;
    align-items: center;
    // grid-column: span 8;
    padding-block-end: 10px;

    .logo {
      // width: 100%;
      border: i.$ticket-border;
    }

    .line {
      text-align: center;
    }

    &__line--one,
    &__line--two,
    &__line--three {
      border-block-end: i.$ticket-border;
    }
  }

  .stub {
    writing-mode: vertical-rl;
    display: grid;
    border-block-start: i.$ticket-border;
    align-self: stretch;
    // grid-column: span 4;
    padding-block-end: 40%;

    .line {
      text-align: center;

      &__text--title,
      &__text--subtitle {
        display: block;
      }

      &__text--title {
      }

      &__text--subtitle {
      }
    }

    &__line--one {
      padding-block-start: 10px;
    }

    &__line--one,
    &__line--two,
    &__line--three {
      border-block-end: i.$ticket-border;
    }
  }
}

.reference {
  height: 364px;
  width: 886px;
}
